
<div class="container">

  <div *ngIf="isSent =='false'" class="form">
    <h2 class="my-4 text-center">Forgot My Password</h2>

    <ly-field appearance="filled" [lyWidth]="1" >
      <ly-label>Enter Your Email</ly-label>
      <input lyNativeControl
        type="email"
        name="email"
        formControlName="email"
      >
      <ly-hint>We Will Send The Reset Url To This Email</ly-hint>
      <ly-error>Required</ly-error>
    </ly-field>

    <button ly-button (click)="onSubmit()" bg="primary" class="m-auto d-block">Send</button>

  </div>
  <div *ngIf="isSent =='loading'" class="loader">
    <div class="loading">
      <span></span>
    </div>
  </div>

  <div *ngIf="isSent == 'true'" class="done">
    <h3 class="text-success">Done</h3>
    <p>Please Check Your Email ,{{email.value}}</p>
  </div>
</div>
