
<div class="container">
  <header class="mt-3">
    <div class="slider " >
    <h2 class="welcome-msg"><span>Welcome</span> {{authService.userState.displayName}}</h2>
      <div class="items d-flex position-relative h-100">
        <div class="position-absolute w-100 panel">
          <h2>HAMZA KHALED</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur maiores velit blanditiis mollitia facilis illum consequatur animi voluptatum nihil debitis, culpa corporis reprehenderit eum temporibus est ducimus itaque ab.</p>
          <button ly-button class="text-light more-info">More...</button>
        </div>
        <img class="position-absolute img-left" src="/assets/like-person.png" alt="">
        <img  class="position-absolute img-up" src="/assets/up-person.png" alt="">
      </div>
    </div>
  </header>

  <div class="experiences my-5">
    <h2 lyColor="primary">My Experiences</h2>
    <div class="row text-center my-5">

      <div class="col-12 col-sm-6 col-md-3">
        <div class="Ex-card">
        <div class="icon mx-auto ">
          <img src="assets/icons/design.gif" alt="">
        </div>
        <div class="title my-3">
          <h2>Desiging</h2>
        </div>
        <div class="description d-block my-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Velit nobis iste at, commodi repellendus, maxime perferendis aliquam modi
           deserunt vero neque ullam aliquid ab veritatis optio,
           sequi praesentium? Deserunt, eaque?
        </div>
        <button ly-button bg="primary" >see more</button>
      </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="icon m-auto">
          <img src="/assets/icons/security.gif" alt="">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="icon m-auto">
          <img src="/assets/icons/code.gif" alt="">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="icon m-auto">
          <img src="/assets/icons/terust.gif" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
