
<div class="container {{getCurrentLang()=='ar'?'rtl':'ltr'}}" [dir]="getCurrentLang()=='ar'?'rtl':'ltr'">
  <header class="mt-3">
    <div class="slider " >
    <h2 class="welcome-msg"><span>{{"Home.Welcome" | translate}}</span> {{authService.userState.displayName}}</h2>
      <div class="items d-flex position-relative h-100">
        <div class="position-absolute w-100 panel">
          <h2>HAMZA KHALED</h2>
          <p>I obtained a bachelor's degree with distinction from the Faculty of Computer and Information Technology,
            University of Aden, and I got an honors degree in the graduation project, which was built with advanced web
            technologies. I have a lot of experience building databases, developing websites and desktop programs..</p>
          <button ly-button class="text-light more-info">More...</button>
        </div>
        <img class="position-absolute img-left" src="/assets/like-person.png" alt="">
        <img  class="position-absolute img-up" src="/assets/up-person.png" alt="">
      </div>
    </div>
  </header>

  <div class="experiences my-5">
    <h2 lyColor="primary">Why Me?</h2>
    <div class="row text-center my-5">

      <div class="col-12 col-sm-6 col-md-3">
        <div class="Ex-card">
        <div class="icon mx-auto ">
          <img src="assets/icons/design.gif" alt="">
        </div>
        <div class="title my-3">
          <h2>Desiging</h2>
        </div>
        <div class="description d-block my-3">
          In Good Design make your customer happy, So I'll give the best UI/UX
        </div>
        <button ly-button bg="primary" >see more</button>
      </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="Ex-card">
          <div class="icon m-auto">
          <img src="/assets/icons/security.gif" alt="">
        </div>
        <div class="title my-3">
          <h2>Security</h2>
        </div>
        <div class="description d-block my-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Velit nobis iste at, commodi repellendus, maxime perferendis aliquam modi
           deserunt vero neque ullam aliquid ab veritatis optio,
           sequi praesentium? Deserunt, eaque?
        </div>
        <button ly-button bg="primary" >see more</button>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="Ex-card">
          <div class="icon m-auto">
          <img src="/assets/icons/code.gif" alt="">
        </div>
        <div class="title my-3">
          <h2>Coding</h2>
        </div>
        <div class="description d-block my-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Velit nobis iste at, commodi repellendus, maxime perferendis aliquam modi
           deserunt vero neque ullam aliquid ab veritatis optio,
           sequi praesentium? Deserunt, eaque?
        </div>
        <button ly-button bg="primary" >see more</button>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="Ex-card">
          <div class="icon m-auto">
          <img src="/assets/icons/terust.gif" alt="">
        </div>
        <div class="title my-3">
          <h2>Terust</h2>
        </div>
        <div class="description d-block my-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Velit nobis iste at, commodi repellendus, maxime perferendis aliquam modi
           deserunt vero neque ullam aliquid ab veritatis optio,
           sequi praesentium? Deserunt, eaque?
        </div>
        <button ly-button bg="primary" >see more</button>
        </div>
      </div>
    </div>
  </div>
</div>
